<div class="container">
  <div class="row">
    <div class="col-md-4"><h2><%= @game.title %></h2></div>
    <div class="col-md-4">
      <table class="table borderless">
        <tbody>
          <tr>
            <td>ユーザー評価</td>
            <td class="user-game-rating" data-score="<%= @rating_score %>"><%= @rating_score %>点　</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table borderless">
        <tbody>
          <tr>
            <td>
              スタッフ評価<br>
              スタッフ名：<%= @game.admin.name %>
            </td>
            <td class="admin-game-rating" data-score="<%= @game.admin_rating %>"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @game.image, width: '360', height: '540' %>
    </div>

    <div class="col-md-4">
      <div class="admin-games-show-description"><%= @game.description %></div>
      <div class="row">
        <div class="col-md-6"><%= link_to "ポジティブレビュー", reviews_path(review_type: 0) %></div>
        <div class="col-md-6"><%= link_to "ネガティブレビュー", reviews_path(review_type: 1) %></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3"><h6><b>このゲームのタグ</b></h6></div>
        <div class="col-md-9"></div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="admin-games-show-tags">
            <% @admin_game_tags.each do |admin_game_tag| %>
              <%= admin_game_tag.admin_tag.tag  %><%= "　" %>
            <% end %>
          </div>
          <div>
            <%= link_to "編集", edit_tag_admin_games_path, class:"btn btn-success" %>
          </div>
          <div class="admin-games-show-tags">
            <% @user_game_tags.each do |user_game_tag| %>
              <%= user_game_tag.user_tag.tag  %><%= "　" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <%= form_with model: @rating, url: rating_create_games_path, local: true do |f| %>
      <%= f.hidden_field :game_id, value: @game.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <table class="table borderless">
        <tr>
          <td>
            <%= link_to "レビューを書く", new_review_path(game_id: @game.id), class:"btn btn-success mt-4" %>
          </td>
            <td>
             <div id="user_rating_star"></div>
            </td>
            <td><%= f.submit "評価する", class:"btn btn-primary" %></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>

</div>

<script>
  $('#user_rating_star').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'rating[rating]'
  });
</script>
<script>
  $('.admin-game-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
<script>
  $('.user-game-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>