<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3"><h2><b>マイページ</b></h2></div>
    <div class="col-md-8"></div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h4 class="mt-4">プロフィール</h4>
      <h5 class="mt-4">メールアドレス</h5>
      <div class="mypage-profile-field">
        <%= @user.email%>
      </div>
      <h5 class="mt-2">ニックネーム</h5>
      <div class="mypage-profile-field">
        <%= @user.nickname %>
      </div>
      <h5 class="mt-2">ユーザーランク</h5>
      <div class="mypage-profile-field">
        <%= @user.rank %><br>
      </div>
      <%= link_to "プロフィールを編集", edit_user_path(@user.id), class:"btn btn-primary mt-4" %>
    </div>

    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12"><h5>あなたにオススメ</h5></div>
      </div>
      <% @suggest_games.each do |game| %>
        <div class="row admin-games-index-index">
          <div class="col-md-2">
            <%= link_to game_path(game.id) do %>
              <%= image_tag game.image.variant(resize: "100x100") %>
            <% end %>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12">
                <%= link_to game.title, game_path(game.id) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% admin_game_tags = game.admin_game_tags.limit(3) %>
                <% user_game_tags = game.user_game_tags.limit(3) %>
                <% admin_tags = [] %>
                <% user_tags = [] %>
                <% admin_game_tags.each do |admin_game_tag| %>
                  <% admin_tag = admin_game_tag.admin_tag.tag %>
                  <% admin_tags.append(admin_tag) %>
                <% end %>
                <% user_game_tags.each do |user_game_tag| %>
                  <% user_tag = user_game_tag.user_tag.tag %>
                  <% user_tags.append(user_tag) %>
                <% end %>
                <table class="table borderless">
                  <tbody>
                    <tr>
                      <% admin_tags.each do |tag| %>
                        <td><%= tag %></td>
                      <% end %>
                    </tr>
                    <tr>
                      <% user_tags.each do |tag| %>
                        <td><%= tag %></td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-2">
      <h4>フォロー一覧</h4>
      <% @follows.each do |follow| %>
        <% follow_user = User.find(follow.follow).nickname %>
        <%= link_to follow_user, user_path(follow.follow) %>
      <% end %>
    </div>
  </div>

</div>