<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h2><b><%= @user.nickname %>のページ</b></h2>
    </div>
    <div class="col-md-2">
      <% if current_user.follow_existed(@user) %>
        <%= link_to "フォロー解除", follow_path(@user.id), method: :delete, class:"btn btn-danger" %>
      <% else %>
        <%= link_to "フォローする", follows_path(follow: @user.id), method: :post, class:"btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-5"></div>
  </div>

  <div class="row mt-4">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6"><h5>評価したゲーム</h5></div>
        <div class="col-md-6"></div>
      </div>
      <%= search_form_for @q, url: user_path do |f| %>
        <div class="row">
          <%= form_with url: user_path, local: true do |game| %>
          <div class="col-md-3">
            <%= game.select :choiced, @sort_select, selected: @sort_prompt %>
          </div>
          <% end %>
          <div class="col-md-7">
            <%= f.search_field :title_cont, class:"user-game_search-field" %>
          </div>
          <div class="col-md-2">
            <%= f.submit "表示" %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <% @games.each do |game| %>
            <div class="row admin-games-index-index">
              <div class="col-md-2">
                <%= link_to admin_game_path(game.id) do %>
                  <%= image_tag game.image.variant(resize: "100x100") %>
                <% end %>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12">
                    <%= link_to game.title, admin_game_path(game.id) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <% admin_game_tags = game.admin_game_tags.limit(3) %>
                    <% user_game_tags = game.user_game_tags.limit(3) %>
                    <% admin_tags = [] %>
                    <% user_tags = [] %>
                    <% admin_game_tags.each do |admin_game_tag| %>
                      <% admin_tag = admin_game_tag.admin_tag.tag %>
                      <% admin_tags.append(admin_tag) %>
                    <% end %>
                    <% user_game_tags.each do |user_game_tag| %>
                      <% user_tag = user_game_tag.user_tag.tag %>
                      <% user_tags.append(user_tag) %>
                    <% end %>
                    <table class="table borderless">
                      <tbody>
                        <tr>
                          <% admin_tags.each do |tag| %>
                            <td><%= tag %></td>
                          <% end %>
                        </tr>
                        <tr>
                          <% user_tags.each do |tag| %>
                            <td><%= tag %></td>
                          <% end %>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-8">
          <h5>評価の高いレビュー</h5>
        </div>
        <div class="col-md-4"></div>
      </div>

      <%= form_with url: user_path(@user.id), method: :get, local: true do |f| %>
        <div class="row">
          <div class="col-md-6">
            <%= f.select :select_review, @review_type, selected: @review_prompt %>
          </div>
          <div class="col-md-3">
            <%= f.submit "表示" %>
          </div>
          <div class="col-md-3"></div>
        </div>
      <% end %>

      <% @all_reviews.each do |review| %>
        <div class="row">
          <div class="col-md-8">
            <%= review.game.title %>
          </div>
          <div class="col-md-4">
            ♥<%= review.favorites.count %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= review.review %>
          </div>
        </div>
      <% end %>

    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-8"><h5>フォロー一覧</h5></div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>
            <% @follows.each do |follow| %>
              <% follow_user = User.find(follow.follow).nickname %>
              <%= link_to follow_user, user_path(follow.follow) %>
            <% end %>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>