<!DOCTYPE html>
<html>
  <head>
    <title>TheReviewForAllGamers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= "The review for all gamers" %>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "ゲーム一覧", games_path %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", mypage_user_index_path %>
              </li>
              <li class="nav-item">
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
              </li>

            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "ゲーム一覧", admin_games_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", admin_users_path %>
              </li>
              <li class="nav-item">
                <%= link_to "サインアウト", destroy_admin_session_path, method: :delete %>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to "ゲーム一覧", games_path %>
              </li>
              <li class="nav-item">
                <%= link_to "サインアップ", new_user_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to "サインイン", new_user_session_path %>
              </li>
            <% end %>
          </ul>

        </div>
    </header>

    <%= yield %>
  </body>
</html>
